* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.rain {
  --bg-color: hsl(0, 0%, 100%);
  --text-color: hsl(240, 6%, 21%);
  --btn1: hsla(240, 9%, 89%, 1);
  --btn2: hsla(194, 97%, 31%, 1);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: grid;
  place-content: center;
  height: 100vh;
}

#app {
  display: flex;
  align-items: center;
  gap: 19.2rem;
}

#timer {
  font-size: 12.6rem;
  font-family: 'Roboto', sans-serif;
  display: flex;
}

#controls {
  margin-top: 1.7rem;
  text-align: center;
}

#controls button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  font-size: 6rem;
  color: var(--text-color);
}


#modes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

#modes button {
  background: var(--btn1);
  padding: 5rem;
  font-size: 6rem;
  border: 0;
  border-radius: 4rem;
  cursor: pointer;
  transition: transform .2s;
  color: var(--bg-color);
}

#modes button:hover {
  transform: scale(1.1);
}

#modes .secondary {
  color: var(--bg-color);
  background: var(--btn2);
}

.florest {
  --bg-color: #c0c080;
  --btn1: #9d9d60;
  --btn2: #7a7a40;
}

.coffe {
  --bg-color: #dbcaba;
  --btn1: #6f4f32;
  --btn2: #91724a;
}

.fire {
  --bg-color: #b81806;
  --btn1: #D43E0B;
  --btn2: #F25101;
}

.running .ph-play-circle,
html:not(.running) .ph-pause-circle {
  display: none
}
